*{margin:0;padding:0;}
*{box-sizing:border-box;}
.token.selector{
  color: gray;
}
.token.property{
  color: gray;
}
.token.function{
  color: gray;
}
#code{
  height: 100vh;
  overflow: auto;
}

#paper> pre{
  padding-left: 16px;
} 

